@using Microsoft.Greenlight.Shared.Contracts.DTO.Document

@inject IContentNodeApiClient ContentNodeApiClient

@code {

    [Parameter] public ContentNodeInfo? Node { get; set; }
    [Parameter] public bool Recursive { get; set; } = false;
    [Parameter] public bool EnableReferenceFrontend { get; set; } = false;
    
}

<style>
    .section-content a:visited {
        color: mediumpurple !important;
    }

    .section-content a {
        color: cornflowerblue !important;
    }
</style>

@if (Node != null)
{
    if (Node.Type == ContentNodeType.Title || Node.Type == ContentNodeType.Heading)
    {
        <MudExpansionPanels>
            <MudExpansionPanel Class="@GetPanelClass(Node.Type)"
                               @bind-IsExpanded="IsPanelExpanded">
                <TitleContent>
                    <MudGrid>
                        <MudItem xs="1">
                            @if (Node.GenerationState == ContentNodeGenerationState.OutlineOnly)
                            {
                                <MudIcon Icon="@Icons.Material.Rounded.List" Color="Color.Info" Size="Size.Medium" />
                            }
                            else if (Node.GenerationState == ContentNodeGenerationState.InProgress)
                            {
                                <MudProgressCircular Indeterminate="true" Size="Size.Small" Color="Color.Info" />
                            }
                            else if (Node.GenerationState == ContentNodeGenerationState.Completed)
                            {
                                <MudIcon Icon="@Icons.Material.Rounded.CheckCircle" Color="Color.Success" Size="Size.Medium" />
                            }
                            else if (Node.GenerationState == ContentNodeGenerationState.Failed)
                            {
                                <MudIcon Icon="@Icons.Material.Rounded.Error" Color="Color.Error" Size="Size.Medium" />
                            }
                        </MudItem>
                        @if (Node.ContentNodeSystemItemId != null && EnableReferenceFrontend)
                        {
                            <MudItem xs="9">
                                @Node.Text
                            </MudItem>
                            <MudItem xs="2">
                                <MudTooltip Text="Reference information is available for this section. Click here to show it." Placement="Placement.Bottom">
                                    <MudIconButton OnClick="()=>ToggleSystemInfo(Node)" Icon="@Icons.Material.Rounded.Info" Color="Color.Info" Size="Size.Small" />
                                </MudTooltip>
                            </MudItem>
                        }
                        else
                        {
                            <MudItem xs="11">
                                @Node.Text
                            </MudItem>
                        }
                    </MudGrid>
                </TitleContent>
                <ChildContent>
                    @if (Node.Children != null && Node.Children.Any() && Recursive)
                    {
                        @if (ShowSystemInfo && SystemItem != null && EnableReferenceFrontend)
                        {
                            <ContentNodeSystemInfoDisplayComponent SystemItem="@SystemItem" />
                        }

                        <div class="section-content">
                            @foreach (var childNode in Node.Children)
                            {
                                <ContentNodeDisplay Node="childNode" Recursive="true" />
                            }
                        </div>
                    }
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    }

    else if (Node.Type == ContentNodeType.BodyText)
    {
        <MudText Class="@GetPanelClass(Node.Type)" Style="padding-left: 20px;">
            <RenderMultilineText Value="@Node.Text" />
        </MudText>
    }
}

@code {



    private ContentNodeSystemItemInfo? SystemItem { get; set; }

    private bool ShowSystemInfo = false;
    private bool IsPanelExpanded = false;
    private bool IsLoadingSystemInfo = false;

    private string GetPanelClass(ContentNodeType nodeType)
    {
        return nodeType switch
        {
            ContentNodeType.Title => "mt-2",
            ContentNodeType.Heading => "mt-2",
            ContentNodeType.BodyText => "mt-2",
            _ => "", // Default class, BodyText nodes might not need extra padding here.
        };
    }

    private async void ToggleSystemInfo(ContentNodeInfo node)
    {
        if (IsLoadingSystemInfo)
            return;

        IsLoadingSystemInfo = true;

        await ShowReferenceInformation(node);

        ShowSystemInfo = !ShowSystemInfo;
        if (ShowSystemInfo)
        {
            IsPanelExpanded = true;
        }

        IsLoadingSystemInfo = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task ShowReferenceInformation(ContentNodeInfo node)
    {
        if (SystemItem == null && node.ContentNodeSystemItemId != null)
        {
            SystemItem = await ContentNodeApiClient.GetContentNodeSystemItemAsync((Guid)node.ContentNodeSystemItemId);
        }

        await InvokeAsync(StateHasChanged);
    }
}
