@using Microsoft.Greenlight.Shared.Contracts.DTO
@using Azure 
@using Azure.Core.GeoJson
@using Azure.Maps.Search
@using Azure.Maps.Search.Models
@inject IJSRuntime JSRuntime
@inject IConfigurationApiClient ConfigurationApiClient

@using System.Threading
@using Microsoft.Greenlight.Web.Shared.ServiceClients

@code {
    [Parameter, EditorRequired] public LocationInformation? DocumentGenerationRequestLocation { get; set; }
    [Parameter] public EventCallback<LocationInformation> DocumentGenerationRequestLocationChanged { get; set; }

    private class CustomAddressResultItem
    {
        public string? Id { get; set; }
        public string? DisplayAddress { get; set; }
        public LocationInformation? Location { get; set; }
    }

    private CustomAddressResultItem? CurrentItem { get; set; }

    private async Task CurrentItemChanged(CustomAddressResultItem NewCurrentItem)
    {
        if (NewCurrentItem?.Location is not null)
        {
            CurrentItem = NewCurrentItem;
            
            await JSRuntime.InvokeVoidAsync("initializeMap", SubscriptionKey, (float)NewCurrentItem.Location.Latitude, (float)NewCurrentItem.Location.Longitude);
            await InvokeAsync(StateHasChanged);
        }
    }
}

<MudStack Row="false">
    <MudAutocomplete 
        T="CustomAddressResultItem"
        Label="Search map"
        Value="@CurrentItem"
        ValueChanged="CurrentItemChanged"
        SearchFuncWithCancel="@Search"
        ToStringFunc="@(item => item is null ? null : $"{item.DisplayAddress!.ToString()}")"
        Variant="Variant.Outlined"
        CoerceValue="true"
        DisableUnderLine="true"
        ShowProgressIndicator="true"
        Margin="Margin.Normal"
        AdornmentIcon="@Icons.Material.Filled.Search"
        AdornmentColor="Color.Primary"
        HelperText="Move the pin to the approximate location of your plant." />

    <div id="map" style="position:relative;width:100%;min-width:290px;height:600px;"></div>

    <MudStack id="coordinateBox" @onchange="HandleMarkerDragChange" Row="true">
        <MudField Label="Latitude"
                      DisableUnderLine="true"
                      Variant="Variant.Filled"
                      Margin="Margin.Normal"
                      FullWidth="true" >
            <p id="latitude">
                @DocumentGenerationRequestLocation.Latitude
            </p>
        </MudField>
        <MudField Label="Longitude"
                  DisableUnderLine="true"
                  Variant="Variant.Filled"
                  Margin="Margin.Normal"
                  FullWidth="true">
            <p id="longitude">
                @DocumentGenerationRequestLocation.Longitude
            </p>
        </MudField>
    </MudStack>
</MudStack>

@code {
    // Map authentication and initialization
    
    private string? SubscriptionKey;
    private AzureKeyCredential? credential;
    private MapsSearchClient? client;

    // not currently used
    bool isLoading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            SubscriptionKey = await ConfigurationApiClient.GetAzureMapsKeyAsync();
            credential = new AzureKeyCredential(SubscriptionKey);
            client = new MapsSearchClient(credential);
            await JSRuntime.InvokeVoidAsync("initializeMap", SubscriptionKey, (float)DocumentGenerationRequestLocation.Latitude, (float)DocumentGenerationRequestLocation.Longitude);
        }
    }


    private async Task<IEnumerable<CustomAddressResultItem?>> Search(string searchText, CancellationToken cancellationToken)
    {

        if (string.IsNullOrEmpty(searchText))
        {
            return await Task.FromResult(Enumerable.Empty<CustomAddressResultItem>());
        }

        try
        {
            SearchAddressOptions searchAddressOptions = new SearchAddressOptions
            {
                Coordinates = new GeoPosition(DocumentGenerationRequestLocation.Longitude, DocumentGenerationRequestLocation.Latitude),
                IsTypeAhead = true,
                Top = 5,
            };
            Response<SearchAddressResult> searchResult = await client.SearchAddressAsync(searchText, searchAddressOptions, cancellationToken);
            IEnumerable<SearchAddressResultItem> searchAddressResultItems = searchResult.Value.Results;
            IEnumerable<CustomAddressResultItem> searchAddressResultItemsToCustomAddressResultItems = searchAddressResultItems.Select(searchAddressResultItem => 
                new CustomAddressResultItem 
                {
                    Id = searchAddressResultItem.Id,
                    DisplayAddress = searchAddressResultItem.Address.FreeformAddress,
                    Location = new LocationInformation
                    {
                        Latitude = searchAddressResultItem.Position.Latitude,
                        Longitude = searchAddressResultItem.Position.Longitude,
                    },
                });

            return searchAddressResultItemsToCustomAddressResultItems;

        }
        catch (Exception ex)
        {
            // Handle exceptions (e.g., network issues).
            // Log or display an error message.
        }

        return await Task.FromResult(Enumerable.Empty<CustomAddressResultItem>());
    }

    private async Task HandleMarkerDragChange()
    {
        var latitudeString = await JSRuntime.InvokeAsync<string>("getInnerText", "latitude");
        var longitudeString = await JSRuntime.InvokeAsync<string>("getInnerText", "longitude");
        try
        {
            // Parse the latitude and longitude strings to double - remember to convert commas to dots for culture-specific decimal separators
            DocumentGenerationRequestLocation.Latitude = double.Parse(latitudeString.Replace(",", "."), System.Globalization.CultureInfo.InvariantCulture);
            DocumentGenerationRequestLocation.Longitude = double.Parse(longitudeString.Replace(",", "."), System.Globalization.CultureInfo.InvariantCulture);
            
        }
        catch
        {
            DocumentGenerationRequestLocation.Latitude = 0;
            DocumentGenerationRequestLocation.Longitude = 0;
        }

        await InvokeAsync(StateHasChanged);
    }
}

